@{
    ViewBag.Title = "Welcome ";
}

    <h2>@ViewBag.PageHeading</h2>

    <form method="post">
        <div class="row">

            <div class="col-md-6">

                <h3>Personal Information</h3>
                <div>
                    <label for="first_Name" class="control-label">First Name</label>
                    <input type="text" id="first_Name" name="first_Name" class="form-control" />
                </div>
                <div>
                    <label for="last_Name" class="control-label">Last Name</label>
                    <input type="text" id="last_Name" name="last_Name" class="form-control" />
                </div>
                <div>
                    <label for="Address" class="control-label">Address</label>
                    <input type="text" id="Address" name="Address" class="form-control" />
                </div>
                <div>
                    <label for="City" class="control-label">City</label>
                    <input type="text" id="City" name="City" class="form-control" />
                </div>
                <div>
                    <label for="State" class="control-label">State</label>
                    <input type="text" id="State" name="State" class="form-control" />
                </div>
                <div>
                    <label for="Zip" class="control-label">Zip</label>
                    <input type="text" id="Zip" name="Zip" class="form-control" />
                </div>
                <div>
                    <label for="Phone" class="control-label">Phone</label>
                    <input type="text" id="Phone" name="Phone" class="form-control" />
                </div>

                <h3>Credit Card Information</h3>

                <div>
                    <label for="CardNum" class="control-label">Credit Card Number</label>
                    <input type="text" id="CardNum" name="CardNum" class="form-control" />
                </div>



            </div>



        </div>

    </form>
