
@{
    ViewBag.Title = "Index";
}

<h2>Give-N-Need provides clothing and food assistance to area families and individuals.  How can we help?</h2>

<h3>Check our member locations for available services.</h3>

<select id="Select1">
    @*<option>Give-N-Need Network Locations....</option>*@
    <option></option>
    <option>Greater Cleveland Food Bank</option>
    <option>Parma Christian Church, Disciples of Christ</option>
    <option>Kosher Food Bank</option>
    <option>Hunger Network of Greater Cleveland</option>
</select>
</html>