
@{
    ViewBag.Title = "ContactUs";
}

<h1>@ViewBag.ContactHeading</h1>
<h2>@ViewBag.ContactName</h2>

@using (Html.BeginForm())
{
<textarea id="TextArea1" rows="2" cols="20"></textarea> <input id="Submit1" type="submit" value="submit" />
   
}
    {
        return RedirectToAction("Sent"); 
    }
     

<p>Please make checks payable to "Give-N-Need, Cleveland." <br />
    And send to: <br />
    3409 Woodland Ave. <br />
    Cleveland, OH 44115 <br />
    Phone: 216.525.1964 </p>

